name: Build Python Shim

on:
  workflow_dispatch:
  push:
    branches: ["python-shim"]

jobs:
  build-macos-apple-silicon:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Install uv & python
        uses: ./.github/actions/setup-uv-python
        with:
          python-version: "3.12"
      - name: Prepare shim
        run: PY_VERSION=3.12 TARGET_TRIPLE=aarch64-apple-darwin ./scripts/prepare_python_shim.sh
      - uses: actions/upload-artifact@v4
        with:
          name: python-shim-macos
          path: python-shim/aarch64-apple-darwin/libpython3.12.dylib

  build-macos-intel:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - name: Install uv & python
        uses: ./.github/actions/setup-uv-python
        with:
          python-version: "3.12"
      - name: Prepare shim
        run: PY_VERSION=3.12 TARGET_TRIPLE=x86_64-apple-darwin ./scripts/prepare_python_shim.sh
      - uses: actions/upload-artifact@v4
        with:
          name: python-shim-macos-intel
          path: python-shim/x86_64-apple-darwin/libpython3.12.dylib

  build-linux-x86_64:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install uv & python
        uses: ./.github/actions/setup-uv-python
        with:
          python-version: "3.12"
      - name: Prepare shim
        run: PY_VERSION=3.12 TARGET_TRIPLE=x86_64-unknown-linux-gnu ./scripts/prepare_python_shim.sh
      - uses: actions/upload-artifact@v4
        with:
          name: python-shim-linux-x86_64
          path: python-shim/x86_64-unknown-linux-gnu/libpython3.12.so

  build-linux-aarch64:
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Install uv & python
        uses: ./.github/actions/setup-uv-python
        with:
          python-version: "3.12"
      - name: Prepare shim
        run: PY_VERSION=3.12 TARGET_TRIPLE=aarch64-unknown-linux-gnu ./scripts/prepare_python_shim.sh
